$gap-std: 10px;
$height-menu-std: 100px;
$height-menu-low: 50px;

.app-header {
  background-color: #bbb;

  transition: all 0.3s ease;

  height: $height-menu-std;
  &.scrolled {
    height: $height-menu-low;

    .card-search {
      height: 1px;
      opacity: 0;
    }
  }


  padding: $gap-std;
  color: #000;
  display: grid;
  
  position: fixed;
  width: 100%;

  // GRID
  grid-template-columns: 40px 1fr 40px;
  grid-gap: 10px;

  div {
    background: #cdf0e6;
    border: 1px solid #87d7cd;
    text-align: center;
  }

  .card-menu {
    background-color: #82c882;
      grid-column: 1;
      grid-row: 1;

      &.top {
        @include tablet-and-larger {
            grid-row: 2;
            grid-column: 1 / 4;
        }
      }
  }

  .card-logo {
      
        grid-column: 2;
        grid-row: 1;
        display: block;
    
  }

  .card-cart {
      grid-row: 1;
  }

  .card-search {

        background-color: #faaf82;
        transition: all 0.2s ease;

        grid-row: 2;
        grid-column: 1 / 4;

        &.top {
          @include tablet-and-larger {
            grid-row: 1;
            grid-column: 1;
          }
        }
  }

}

.app-body {
  background: #fff;
  padding:  ($height-menu-std + $gap-std * 2) $gap-std $gap-std $gap-std;
  min-height: 1500px;

    @include desktop {
      max-width: $tablet-width - ($gap-std * 2);
      margin: 0 auto;
    }

  .intro {
    font-size: 150%;
  }

  p {
    max-width: 30em;
    font-size: 16px;
    line-height: 1.4em;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 20px;
    }

  }
}
